.page-body {
  font-family: "roboto", sans-serif;
  font-weight: 500px;
  color: #434455;
}

.page-header {
  background-color: #e7e9fc;
}
.page-effective-solution {
  background-color: #2e2f42;
  text-align: center;
  width: 1440px;
  height: 600px;
}
.page-effective-solution h2 {
  color: #ffffff;
  font-weight: 700px;
  size: 56px;
  line-height: 1.07;
  letter-spacing: -2%;
  text-align: center;
}
.page-order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  width: 169px;
  height: 56px;
  cursor: pointer;
}
.page-order-button:hover {
  background-color: #404bbf;
}
.page-order-button:focus {
  background-color: #404bbf;
}
.page-navigation a {
  text-decoration: none;
  color: #2e2f42;
}
.page-navigation a:hover {
  color: #404bbf;
}
.page-navigation a:focus {
  color: #404bbf;
}
.page-navigation-list {
  list-style: none;
}
.page-adress-list a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 400px;
  size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;
}
.page-adress-list {
  list-style: none;
}
.page-adress a:hover {
  color: #404bbf;
}
.page-adress a:focus {
  color: #404bbf;
}
.page-feature-list h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -2%;
  color: #2e2f42;
}
.page-feature-list p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;
}
.page-ourteam-section h2 {
  font-weight: 700px;
  size: 36px;
  line-height: 1.11;
  letter-spacing: -2%;
  text-align: center;
  color: #2e2f42;
}
.page-ourteam-section-list h3 {
  size: 20px;
  line-height: 1.2;
  letter-spacing: -2%;
  color: #2e2f42;
}
.page-ourteam-section-list p {
  font-weight: 400;
  size: 16px;
  line-height: 1.2;
  letter-spacing: -2%;
}
.page-section-ourportfolio {
  background-color: #e7e9fc;
}
.page-section-ourportfolio h2 {
  font-weight: 700px;
  size: 36px;
  line-height: 1.11;
  letter-spacing: -2%;
  text-align: center;
  color: #2e2f42;
}
.page-section-ourportfolio h3 {
  color: #2e2f42;
  size: 20px;
  line-height: 1.2;
  letter-spacing: -2%;
}
.page-section-ourportfolio p {
  size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;
}

.page-header-title-span {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 700px;
  size: 18px;
  line-height: 1.16;
  letter-spacing: -3%;
}
.page-navigation-list h1 {
  font-family: "Raleway";
  font-weight: 700px;
  size: 18px;
  line-height: 1.16;
  letter-spacing: -3%;
}
.page-navigation-list li {
  size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;
  color: #2e2f42;
}
.page-footer a {
  text-decoration: none;
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  list-style: none;
  width: 1440px;
  height: 312px;
}
.page-footer-h3:hover {
  color: #404bbf;
}
.page-footer-h3:focus {
  color: #404bbf;
}
.page-footer-h3 {
  color: #f4f4fd;
}
.page-footer-title-span {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 700px;
  size: 18px;
  line-height: 1.16;
  letter-spacing: -3%;
}
.page-footer-title-span:hover {
  color: #404bbf;
}
.page-footer-title-span:focus {
  color: #404bbf;
}
.page-footer-h3 {
  font-family: "Raleway";
  font-weight: 700px;
  size: 18px;
  line-height: 1.16;
  letter-spacing: -3%;
}
.page-footer p {
  color: #f4f4fd;
  font-weight: 400px;
  size: 16px;
  line-height: 1.2;
  letter-spacing: -2%;
}
