.page-body {
  font-family: "roboto", sans-serif;
  font-weight: 700px;
  color: #434455;
  
}
.page-section-ourportfolio {
  background-color: #e7e9fc;
}
.page-header {
  background-color: #e7e9fc;
}
.page-effective-solution {
  background-color: #2e2f42;
  text-align: center;
  width: 1440px;
  height: 600px;
}
.page-effective-solution h2{
    color: #FFFFFF;
}
.page-order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  width: 169px;
  height: 56px;
  cursor: pointer;
}
.page-order-button:hover {
  background-color: #404bbf;
}
.page-navigation a{
    text-decoration: none;
    color: #2e2f42;
    
}
.page-navigation a:hover{
      color: #404BBF;
}
.page-navigation a:focus{
    color: #404BBF;
}
.page-navigation-list{
  list-style: none;

}
.page-adress a{
    text-decoration: none;
    color: #2e2f42;
}
.page-adress-list{
    list-style: none;
}
.page-adress a:hover{
    color: #404BBF;
}
.page-adress a:focus{
    color: #404BBF;
}
.page-feature{
    line-height: 1.4;
}
.page-footer a{
    text-decoration: none;
    color: #2e2f42;
}
.page-footer{
    background-color: #2E2F42;
    color:#F4F4FD;
    list-style: none;
    width: 1440px;
    height: 312px;
}
.page-footer a:hover{
    color: #404BBF;
}
.page-footer a:focus{
    color: #404BBF;
}
.page-footer h3{
    color:#F4F4FD;
    
}
.page-footer-title-span{
    color: #4D5AE5;
}
.page-header-title-span{
    color: #4D5AE5;
}